# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
# CONFIG_SERIAL is not set

# Console
CONFIG_CONSOLE=y
# CONFIG_UART_CONSOLE is not set

# Enable GPIO
CONFIG_GPIO=y

# rtt
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y

# RTT shell 
CONFIG_SHELL=y
CONFIG_SHELL_BACKEND_RTT=y
CONFIG_SHELL_VT100_COLORS=y
CONFIG_SHELL_TAB=y
CONFIG_SHELL_VT100_COMMANDS=y
