# SPDX-License-Identifier: Apache-2.0

# CONFIG_SERIAL is not set
CONFIG_CONSOLE=y
# CONFIG_UART_CONSOLE is not set

# enable GPIO
CONFIG_GPIO=y

#  RTT
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y

# RTT shell 
CONFIG_SHELL=y
CONFIG_SHELL_BACKEND_RTT=y
CONFIG_SHELL_VT100_COLORS=y
CONFIG_SHELL_TAB=y
CONFIG_SHELL_CMDS_RESIZE=y
# CONFIG_SHELL_ECHO_STATUS is not set
# CONFIG_SHELL_START_OBSCURED is not set
CONFIG_SHELL_VT100_COMMANDS=y
