# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
CONFIG_SERIAL=y

# Enable flash
CONFIG_FLASH=y
CONFIG_FLASH_SHELL=y

# enable flash map
CONFIG_FLASH_MAP=y
CONFIG_FLASH_MAP_SHELL=y

# log
CONFIG_LOG=y
CONFIG_LOG_BUFFER_SIZE=2048

# file system
CONFIG_FILE_SYSTEM=y
CONFIG_FILE_SYSTEM_LITTLEFS=y
CONFIG_FILE_SYSTEM_SHELL=y
CONFIG_HEAP_MEM_POOL_SIZE=2048
CONFIG_MAIN_STACK_SIZE=2048

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable GPIO
CONFIG_GPIO=y
CONFIG_LOG=y

# rtc
CONFIG_RTC=y
CONFIG_RTC_SHELL=y

#  RTT
CONFIG_USE_SEGGER_RTT=y

# RTT shell 
CONFIG_SHELL=y
CONFIG_SHELL_BACKEND_RTT=y
CONFIG_SHELL_BACKEND_SERIAL=y
CONFIG_SHELL_VT100_COLORS=y
CONFIG_SHELL_TAB=y
CONFIG_SHELL_VT100_COMMANDS=y

# networking
CONFIG_NETWORKING=y
CONFIG_TEST_RANDOM_GENERATOR=y
CONFIG_NET_CONNECTION_MANAGER=y
CONFIG_NET_MGMT_EVENT_MONITOR=y
CONFIG_ETH_DRIVER=y
CONFIG_NET_L2_ETHERNET=y
CONFIG_NET_ARP=y
CONFIG_NET_IPV4=y
CONFIG_NET_IPV4_IGMP=y
CONFIG_NET_SHELL=y

# settings
CONFIG_FCB=y
CONFIG_SETTINGS=y

